.App {
  text-align: center;
}

.Home-Page-Header{
  font: bold;
  text-align: center;
}

.Logout-Button{
  
}

.Account_Heading{
  text-align: center;
  font: bold;
  font-size: 12px;
}
.Sign-In_Header{

}

.Google Button{
  
}